{% extends 'home.html ' %}

{% block content %}
    <div class="card-body">
    <form method="post" action=".">

             <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i>
                {{ title }}
            </h3>
        </div>
            {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="email">{{ field.label }}:</label>
                {{ field }}
            </div>

        {% endfor %}



        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-flat btnTest">
                <i class="fas fa-plus"></i> Guardar registro
            </button>
        </div>
    </div>
    </form>

{% endblock %}